*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.list > div{
    margin: 10px;
}

.list > div:hover{
    cursor: pointer;
    opacity: 0.8;
    color: #353535;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 15%; 
    text-align: center;
  }
  

body {
    background-image: linear-gradient(to right , #cb2d3e , #ef473a);
}

.searchBox{
    margin: 0 auto;
    width: 300px;
    height: 60px;
}


.searchBox > input{
    width: 100%;
    height: 80%;
    font-size: 20px;
}
